<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>
      <main role="main" class="container mt-4">
        <div class="stats-container">
          <%- include('partials/dragon.ejs') %>
            <%- include('partials/garden.ejs') %>
              <%- include('partials/settings.ejs') %>
        </div>
        <%- include('partials/chat.ejs') %>
      </main>
      <%- include('partials/_footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/3.0.0-rc.5/web3.min.js"></script>
        <script src="https://unpkg.com/@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js"></script>

        <script src="/js/main.js"></script>
        <script>
          function toggleCard(cardId) {
            var card = document.getElementById(cardId);
            card.classList.toggle('hidden');
          }

          function toggleTheme() {
            // Implementation of theme toggle
          }

          // login/logout button
          function handleLoginLogout() {
            const isLoggedIn = <% if (session && session.userId) { %> true <% } else { %> false <% } %>;
            if (isLoggedIn) {
              window.location.href = '/auth/logout';
            } else {
              window.location.href = '/auth/login';
            }
          }

        </script>
  </body>

</html>